/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 0;
	padding: 0;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: #5abaf3;
	text-align: center;
}

/*Remove this h1 Rule! */

h1 {
	text-align: center;
	padding-top: 50px;
	color: white;
	font-size: 100px;
}

#random-btn {
	text-align: center;
	padding: 10px;
	font-size: 24px;
	border-radius: 4px;
	border: white 1px solid;
	width: 200px;
	margin: 0 auto;
	color: white;
	transition: .5s;

}

#random-btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.25);

}